<a href="https://colab.research.google.com/github/PyBeginner1/CreditCardFraudDetection/blob/main/CreditCardFraudDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
from google.colab import files
uploaded = files.upload()

Saving creditcard.csv to creditcard.csv

In [5]:
df =pd.read_csv("/content/creditcard.csv")

In [6]:
#first 5
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
#last 5
df.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [8]:
#information about dataset type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
df.describe()

                Time            V1  ...         Amount          Class
count  284807.000000  2.848070e+05  ...  284807.000000  284807.000000
mean    94813.859575  3.919560e-15  ...      88.349619       0.001727
std     47488.145955  1.958696e+00  ...     250.120109       0.041527
min         0.000000 -5.640751e+01  ...       0.000000       0.000000
25%     54201.500000 -9.203734e-01  ...       5.600000       0.000000
50%     84692.000000  1.810880e-02  ...      22.000000       0.000000
75%    139320.500000  1.315642e+00  ...      77.165000       0.000000
max    172792.000000  2.454930e+00  ...   25691.160000       1.000000

[8 rows x 31 columns]

In [10]:
#number of missing vals
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#distribution for legit(class =0) & fraudulent transactions(class=1)
df["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This is highly unbalanced dataset since 99% of it is legit transaction.

0 = Normal Transaction
1 = Fraud Transaction

In [12]:
#seperating data for analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [13]:
#statistical analysis
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
#compare the values of both legit & fraud
df.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

**Under-Sampling**

Building a sample dataset containing similar data of legit & fraud

Number of fraudulent transactions is 492

In [17]:
#we take 492 out of normal transactions randomly using sample
legit_sample = legit.sample(n=492)

In [19]:
#now we concatenate the normal 492 with fraud 492 
new_df = pd.concat([legit_sample,fraud], axis = 0)    #axis =0,  places fraud row wise(fraud is placed below legit_sample). axis = 1, places fraud col wise

In [21]:
new_df.head()

            Time         V1         V2  ...       V28  Amount  Class
69887    53623.0   0.822327  -0.913500  ...  0.054993  217.37      0
260550  159613.0   2.310410  -1.346486  ... -0.052834    5.40      0
185219  126575.0 -21.412615 -18.621023  ...  0.065661  863.84      0
72503    54738.0   0.863076  -0.464043  ...  0.032895   95.00      0
113423   73059.0   1.470103  -1.336823  ...  0.009938   44.98      0

[5 rows x 31 columns]

In [23]:
new_df.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [26]:
new_df["Class"].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [29]:
new_df.groupby("Class").mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      95401.189024 -0.101589 -0.201289  ...  0.032380 -0.040286   98.425691
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Splitting the data into Features(Col headings- Time, V1,V2,...) & Target(0 or 1)

In [31]:
X = new_df.drop(columns = 'Class', axis = 1)
Y = new_df["Class"]

In [32]:
print(X)

            Time         V1         V2  ...       V27       V28  Amount
69887    53623.0   0.822327  -0.913500  ... -0.073278  0.054993  217.37
260550  159613.0   2.310410  -1.346486  ...  0.027844 -0.052834    5.40
185219  126575.0 -21.412615 -18.621023  ...  4.359143  0.065661  863.84
72503    54738.0   0.863076  -0.464043  ...  0.075047  0.032895   95.00
113423   73059.0   1.470103  -1.336823  ...  0.040394  0.009938   44.98
...          ...        ...        ...  ...       ...       ...     ...
279863  169142.0  -1.927883   1.125653  ...  0.292680  0.147968  390.00
280143  169347.0   1.378559   1.289381  ...  0.389152  0.186637    0.76
280149  169351.0  -0.676143   1.126366  ...  0.385107  0.194361   77.89
281144  169966.0  -3.113832   0.585864  ...  0.884876 -0.253700  245.00
281674  170348.0   1.991976   0.158476  ...  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [33]:
print(Y)

69887     0
260550    0
185219    0
72503     0
113423    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

**Split data into training & testing data**

In [37]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)    #test_size=0.2 means 20% for testing & 80% for training

In [39]:
print(X.shape, X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

**Model Training**

In [41]:
model = LogisticRegression()

Training the Logistic Regression model with training data

In [43]:
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Check Model Performance

In [46]:
#checking accuracy for training data
x_train_prediction = model.predict(X_train)    #we are predicting the targets(0 or 1) for X_train
training_data_accuracy = accuracy_score(x_train_prediction, Y_train)

In [50]:
print("Accuracy: " ,training_data_accuracy)

Accuracy:  0.9212198221092758

In [52]:
#checking accuracy for testing data
x_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(x_test_prediction, Y_test)

In [54]:
print("Accuracy of testing data: " , testing_data_accuracy)

Accuracy of testing data:  0.9086294416243654

Accuracy score of training & testing data is similar